@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}
 
.cabecalho-menu-link {
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
}

.container {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
}

.container-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.container-conteudo-texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    text-align: justify;
}

.container-conteudo-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.container-conteudo-links-subtitulo {
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.container-conteudo-links-navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
    width: 50%;
    padding: 10px 0;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.container-conteudo-links-link:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);
}

.container-imagens {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 15px;
}

.rodape-link {
    color: var(--cor-primaria);
    font-family: var(--font-secundaria);
    text-decoration: none;
}

.destaque {
    color: var(--cor-terciaria);
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho-menu {
        justify-content: center;
    }

    .container {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .container-conteudo {
        width: auto;
    }
}