@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;    
    color: #F6F6F6;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    color: #22D4FD;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.container-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-conteudo-titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.container-conteudo-texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: justify;
}

.container-conteudo-subtitulo {
    font-family: 'Krona One', sans-serif;
}

.destaque {
    color: #22D4FD;
}

.rodape {
    background-color: #22D4FD;
    padding: 15px;
    text-align: center;
    color: #000000;
}

.rodape-link {
    color: #000000;
    text-decoration: none;
}